@model AdminEditMovieViewModel

<h1>Edit Movie</h1>
<hr />

<form method="post" asp-controller="Admin" asp-action="MovieUpdate" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="MovieID" value="@Model.MovieID" />
            <div class="mb-3">
                <label asp-for="Title"></label>
                <input asp-for="Title" value="@Model.Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control">@Model.Description</textarea> @*text areada valu bilgisini bu şekilde gösteriyoruz.*@
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">

                <input type="file" name="file" class="form-control" />







                @*                <label asp-for="ImageURL"></label>
                <input asp-for="ImageURL" value="@Model.ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>*@
            </div>

            <button type="submit" class="btn btn-primary">Güncelle</button>
        </div>

        <div class="col-md-4">

            @foreach (var item in (List<Genre>)ViewBag.Genres)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genreId" value="@item.GenreID" id="genre_@(item.GenreID)" @(Model.SelectedGenres.Any(a => a.GenreID == item.GenreID) ? "checked" : "")>
                    <label class="form-check-label" for="genre_@(item.GenreID)">
                        @item.GenreName
                    </label>
                </div>
            }

            <div class="mt-3">
                <img src="/img/@Model.ImageURL" width="150px" />
            </div>

        </div>
    </div>
</form>

@section scripts
    {
    <script src="https://cdn.ckeditor.com/4.20.2/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script>
    }