@model Movie






<div class="row featurette">
    <div class="col-md-7 order-md-2 mt-2">
        <h2 class="featurette-heading fw-normal lh-1">@Model.Title</h2>
        <p>
            <a class="btn btn-primary" href="/movies/details/@Model.MovieID">İncele</a>
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="~/img/@Model.ImageURL" alt="" />
    </div>
</div>




@*ESKİ TASARIM*@

@*<div class="film">
    <img src="/img/@Model.ImageURL" alt="@Model.Title" />
    <p>@Model.Title</p>
    <p>@Model.Description</p>
    <p>@Model.Director</p>
    <p>
        <ul>
            @foreach (var cast in Model.Casts)
            {
                <li>@cast</li>
            }
        </ul>
    </p>
</div>*@