@model Movie






<div class="row featurette mt-2" style="border: 1px solid">
    <div class="col-md-7 order-md-2 ">
        <h2 class="featurette-heading fw-normal lh-1">@Model.Title</h2>
        <p>
            <a class="btn btn-primary" asp-controller="movies" asp-action="details" asp-route-id="@Model.MovieID">İncele</a>
            <a class="btn btn-primary" asp-controller="movies" asp-action="edit" asp-route-id="@Model.MovieID">Düzenle</a>
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="~/img/@Model.ImageURL" alt="" />
    </div>
</div>




@*ESKİ TASARIM*@

@*<div class="film">
    <img src="/img/@Model.ImageURL" alt="@Model.Title" />
    <p>@Model.Title</p>
    <p>@Model.Description</p>
    <p>@Model.Director</p>
    <p>
        <ul>
            @foreach (var cast in Model.Casts)
            {
                <li>@cast</li>
            }
        </ul>
    </p>
</div>*@